# Базовый набор для бэкенда
fastapi[standard]==0.116.1
asyncpg==0.30.0
SQLAlchemy==2.0.43
alembic==1.16.4

# Управление настройками проекта
pydantic-settings==2.10.1

# Пагинация выдачи API
fastapi-pagination==0.14.1

# Хэширование пользовательского пароля 
bcrypt==4.3.0

# Логирование
loguru==0.7.3

# Для асинхронной работы с фикстурами
aiofiles==24.1.0
aiocsv==1.4.0

# Автотесты
pytest==8.4.2