# Базовый набор для бэкенда
fastapi[standard]==0.116.1
asyncpg==0.30.0
SQLAlchemy==2.0.43
alembic==1.16.4

# Управление настройками проекта
pydantic-settings==2.10.1

# Пагинация выдачи API
fastapi-pagination==0.14.1

# Логирование
loguru==0.7.3
